# file which does not allow other file from getting pushed to the git repository
# Compiled class files
*.class

# Log files
*.log

# BlueJ, Eclipse, IntelliJ, or VSCode project files
/.idea/
/.vscode/
/*.iml
/.classpath
/.project
/.settings/

# Build directories
/bin/
/build/
/target/

